/*表格样式*/

.table-responsive {
    padding-top: 50px;
}

table {
    border: 2px solid #C7C7C7;
}

.keep-open .dropdown-menu {
    background: #074587;
}

.btn {
    font-size: 12px;
    padding: 3px 12px;
}

#carCheck .form-group,
#returncarCheck .form-group,
#carTypeIn .form-group {
    width: 45% !important;
}

#carCheck .form-group,
#returncarCheck .form-group,
#carTypeIn .form-group {
    display: inline-block;
}

#carCheck .form-group:nth-child(2n+1),
#returncarCheck .form-group:nth-child(2n+1),
#carTypeIn .form-group:nth-child(2n+1) {
    margin-left: 40px;
}

.car_image {
    line-height: 30px;
}

.car_image_check {
    padding-top: 9px;
}

#carCheck .col-sm-5 input,
#returncarCheck .col-sm-5 input {
    width: 100px;
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
}

#carCheck span,
#returncarCheck span {
    padding-top: 3px;
    line-height: 30px;
}

#driverList,
#carList {
    position: relative;
}

.driveradd_btn button,
.caradd_btn button {
    background: #1A1D3E;
    padding: 5px 7px;
    color: white;
    border: none;
    position: absolute;
    top: 43px;
    outline: none;
    font-size: 13px;
    left: 160px;
    border-radius: 10px;
    /*margin: -10px 30px 0px 0px;*/
}

.form-group-btn {
    margin-top: 30px;
}

.table-hover>tbody>tr:hover {
    background-color: #DBDBDB;
    cursor: pointer;
}

.fixed-table-container tbody .selected td {
    background-color: #337AB7;
}

.pull-right .form-control {
    height: 22px;
}

.import-mdoel_select {
    position: absolute;
    left: 70px;
    top: 0px;
}

.fixed-table-pagination .pagination a {
    padding: 1px 5px;
}

.fixed-table-container tbody td {
    border: 2px solid #C7C7C7;
}

#maintainList table tbody td {
    font-size: 11px;
}

.fixed-table-container thead tr {
    background: #DBDBDB;
    border-bottom: 3px solid #C7C7C7;
    /*border: 2px solid #C7C7C7;*/
}

.fixed-table-container thead th {
    /*border: 1px solid blue;*/
    border: 2px solid #C7C7C7;
    /*border-left: 1px solid white;
    border-right: 1px solid white;*/
}

.menulist_height {
    line-height: 30px;
}

.btn-primary {
    background: #1471EE;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    /*background: #1471EE;*/
    background: #1A1D3E;
}

.table-responsive h3 {
    /*color: #1471EE;*/
    margin-top: -2px;
}

.pagination-info,
.page-list {
    color: black;
}

.form-control {
    width: 80%;
}

input.form-control {
    background: white;
}

#maintainList table td:nth-child(7) {
    background: #BFEBEB;
}

#maintainList table thead tr:nth-child(2) th:nth-child(3) {
    background: #BFEBEB;
}

.role_check_box label,
.role_menuList,
.role_menuList label,
#add_user_form .col-sm-8,
#add_user_form .col-sm-8 label {
    font-size: 13px;
    color: #666 !important;
}

.sex-group {
    margin-top: 7px;
}

#role .form-horizontal input,
#add_user_form input {
    color: #333;
    vertical-align: middle;
    margin: 0px 2px 0px 2px;
}

.role_check_box input {
    vertical-align: middle;
    margin: 0px 2px 0px 2px;
}


/*用户列表*/

#toolbar_userList {
    position: absolute;
    top: -45px;
    left: 0px;
}

#toolbar h3 {
    display: inline-block;
}

#userList,
#roleList,
#rightsList,
#menuList {
    top: 20px;
}

#rights .add_boxs,
#role .add_boxs {
    margin-top: 165px;
}

.role_check_box,
.user_check_box {
    margin-top: 7px;
    vertical-align: middle;
}

.tablelistbox {
    /*display: none;*/
}

.add_boxs {
    display: inline-block;
}

.add_box .form-control {
    width: 343px;
}

.add_boxs .form-group label {
    color: #1A1D3E;
}

.mybtn {
    width: 70px;
    border-radius: 20px;
    height: 26px;
    line-height: 26px;
    border: none;
    background: #1A1D3E;
    color: white;
    outline: none;
}

.my_remove {
    position: absolute;
    top: 15px;
    color: #1A1D3E;
    cursor: pointer;
    right: 10px;
}

.add_box_form {
    width: 700px;
}

.driveradd_btn {
    display: inline-block;
}


/*门岗是否合法*/

#sentrytable th:last-child {
    color: red;
}

#sentrytable td:last-child {
    color: green;
    font-weight: bold;
}

.fixed-table-toolbar {
    margin-top: -20px;
}